<!--"""-->
<!--Шаблон списка курсов.-->
<!--"""-->

{% extends "base.html" %}
{% block title %}
    Students list
{% endblock %}
{% block body %}
    {% if courses %}
        <table class="table table-light table-striped-columns">
            <thead class="table-warning">
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Is available</th>
                {% if user.is_superuser or user.is_staff %}
                    <th scope="col">Operations</th>
                {% endif %}
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for course in courses %}
                <tr>
                    <th scope="row">{{ course.pk }}</th>
                    <td><a class="text-decoration-none"
                        href="{% url 'course_detail' pk=course.pk %}"
                        >{{ course.name }}</a>
                    </td>
                    <td>{{ course.description }}</td>
                    <td>{% if course.is_available %}
                            <em>Yes</em>
                        {% else %}
                            <em>No</em>
                        {% endif %}</td>
                    {% if user.is_superuser or user.is_staff %}
                    <td>
                        <span>
                            <a class="btn btn-warning" href="{% url 'course_update' pk=course.pk %}">Update</a>
                        </span> /
                        <span>
                            <a class="btn btn-danger" href="{% url 'course_delete' pk=course.pk %}">Delete</a>
                        </span>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No courses yet</h3>
    {% endif %}
    {% if user.is_superuser %}
        <a class="btn btn-outline-success my-3" href="{% url 'course_create' %}">Create new course</a>
        <button type="button"
                class="btn btn-outline-warning my-3"
                onclick="GenerateData()"
                id="Generate_new_bills">
            Generate data
        </button>
        <script>
            function GenerateData() {
                window.location.href = "{% url 'generate' %}"
            }
        </script>
    {% endif %}
    <a class="btn btn-outline-primary my-3"
       href="{% url 'main_page' %}"
    >Back to main page</a>
{% endblock %}