{% extends "base.html" %}
{% block title %}
    Students list
{% endblock %}
{% block body %}
    <div class="h2">Students:</div>
    {% if students %}
        <ul class="list-group">
            {% for student in students %}
                <li class="list-group-item">
                    <a class="text-decoration-none"
                       href="{% url 'main_page' %}"
                    >{{ students.username }}</a>
                    <span> with email: <em>{{ students.email }}</em></span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No students yet</h2>
    {% endif %}
    <a class="text-decoration-none my-3"
       href="{% url 'main_page' %}"
    >Back to main page</a>
{% endblock %}