<!--"""-->
<!--Шаблон/форма подтверждения удаления курса.-->
<!--"""-->

{% extends 'base.html' %}

{% block body %}

    Do You rely want to delete:
    <p>Course <strong>{{ course.name }}</strong></p>
    <span style = "text-decoration: underline">with description:</span>
    <p>
      {{ course.description}}
    </p>
     ?
  <form method="post">
    {% csrf_token %}
    <button class="btn btn-outline-danger" type="submit">Yes</button>
    <a class="btn btn-outline-success" href="{% url 'students_list' %}">No</a>
  </form>

{% endblock %}