{% extends "base.html" %}
{% block title %}
    {{ user.name }} bills
{% endblock %}
{% block body %}
    <div class="h2 my-2">Bills for {{ user.first_name }}:</div>
    {% if bills_list %}
        <ul class="list-group">
            {% for bill in bills_list %}
                <li class="product-list-item list-group-item">
                    <span>{{ bill.id,  " total: ",  bill.total }}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No users yet</h2>
    {% endif %}
{% endblock %}