{% extends "base.html" %}
{% block title %}
    User list
{% endblock %}
{% block body %}
    <div class="h2 my-2">Users:</div>
    {% if user_list %}
        <ul class="list-group">
            {% for user in user_list %}
                <li class="list-group-item">
                    <span>User</span>
                    <a class="text-decoration-none"
                       href="{{ url_for('users_app.user_info', user_id=user.id) }}"
                    >{{ user.first_name + " " + user.last_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No users yet</h2>
    {% endif %}
    <a class="text-decoration-none"
        href="{{ url_for('index_page') }}"
    >Back to main page</a>
{% endblock %}